{% extends 'index.html' %}

<!-------------------------------------------Project 출력-------------------------------------->
{% block content %}


<!-- 바디 부분 -->
<div class="content" style="display:flex; justify-content:space-evenly; flex-direction: row;">
    <!-- 해야할 일 컬럼 -->

    <div class="row" id="list1" style="flex-direction:column; width: 280px; background-color: #e4e4e4; border-radius:6px;" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;" >
        <div style="padding:10px 15px 10px 25px;">
            <p class='counter1'  style="font-size:16px; font-weight:300; margin:0px;">해야할 일 </p>
        </div>

        {% for key, value in tasks.items %}
        {% if value.task_state == '해야할일'%}

        <!-- task 블럭 -->
        <div id="{{ key }}" class="col-lg-3 col-md-6 col-sm-6" style="max-width: 100%; max-height:20%" draggable="true" ondragstart="drag(this, event)">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-7 col-md-8" style="flex:0 0 100%;  max-width:100%;">
                            <div class="numbers" style="cursor:pointer" style="cursor:pointer">
                                <p class="card-category" data-toggle="modal" data-target="#taskModal{{ key }}">{{ value.task_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; justify-content:space-between">
                    <div class="card-footer" style="display:flex; flex-direction:row;">
                        <div style="display:flex; flex-direction:row;">

                            {% if value.task_bookmark == 'False' %}
                            <div class="bookmark" style="text-align: center; width: 25px; background-color: #e4e4e4; height: 25px; border-radius: 6px;margin-right:5px; cursor:pointer">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px;" class="fa fa-star"></i>
                            </div>
                            {% endif %}

                            {% if value.task_attachment == 'None' %}
                            <div class="stats" style="text-align: center; width: 25px; background:#e4e4e4; height: 25px; border-radius: 6px; margin-right:5px;">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px" class="fas fa-paperclip"></i>
                            </div>
                            {% endif %}


                            <div style="background-color:#e4e4e4; border-radius:6px; vertical-align: middle;">
                                <p style="margin: 2px 5px 0 5px;"> D-{{ value.task_ddate}} </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img style="margin-right:15px; width: 35px; height:35px; border-radius: 20px; cursor:pointer;" data-toggle="modal" data-target="#filerequestModal"  src="{{ value.task_managerurl }}">
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}

    </div>

    <!-- 진행중 컬럼 -->
    <div class="row" id="list2" style="flex-direction:column; width: 280px; background-color: #e4e4e4; border-radius:6px;" ondrop="drop(this, event)" ondragenter="return false;" ondragover="return false;" >
        <div style="padding:10px 15px 10px 25px;">
            <p class='counter2'  style="font-size:16px; font-weight:280; margin:0px;">진행중 </p>
        </div>

        {% for key, value in tasks.items %}
        {% if value.task_state == '진행중'%}

        <!-- task 블럭 -->
        <div id="{{ key }}" class="col-lg-3 col-md-6 col-sm-6" style="max-width: 100%; max-height:20%" draggable="true" ondragstart="drag(this, event)">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-7 col-md-8" style="flex:0 0 100%;  max-width:100%;">
                            <div class="numbers" style="cursor:pointer" style="cursor:pointer">
                                <p class="card-category" data-toggle="modal" data-target="#taskModal{{ key }}">{{ value.task_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; justify-content:space-between">
                    <div class="card-footer" style="display:flex; flex-direction:row;">
                        <div style="display:flex; flex-direction:row;">

                            {% if value.task_bookmark == 'False' %}
                            <div class="bookmark" style="text-align: center; width: 25px; background-color: #e4e4e4; height: 25px; border-radius: 6px;margin-right:5px">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px;" class="fa fa-star"></i>
                            </div>
                            {% endif %}

                            {% if value.task_attachment == 'None' %}
                            <div class="stats" style="text-align: center; width: 25px; background:#e4e4e4; height: 25px; border-radius: 6px; margin-right:5px;">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px" class="fas fa-paperclip"></i>
                            </div>
                            {% endif %}


                            <div style="background-color:#e4e4e4; border-radius:6px; vertical-align: middle;">
                                <p style="margin: 2px 5px 0 5px;"> D-{{ value.task_ddate}} </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img style="margin-right:15px; width: 35px; height:35px; border-radius: 20px; cursor:pointer;" data-toggle="modal" data-target="#filerequestModal"  src="{{ value.task_managerurl }}">
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <!-- 리뷰 컬럼 -->
    <div class="row" id="list3" style="flex-direction:column; width: 280px; background-color: #e4e4e4; border-radius:6px;" ondrop="drop(this, event)" ondragenter="return false;" ondragover="return false;" >
        <div style="padding:10px 15px 10px 25px;">
            <p class='counter3'  style="font-size:16px; font-weight:300; margin:0px;">리뷰 </p>
        </div>

        {% for key, value in tasks.items %}
        {% if value.task_state == '리뷰'%}

        <!-- task 블럭 -->
        <div id="{{ key }}" class="col-lg-3 col-md-6 col-sm-6" style="max-width: 100%; max-height:20%" draggable="true" ondragstart="drag(this, event)">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-7 col-md-8" style="flex:0 0 100%;  max-width:100%;">
                            <div class="numbers" style="cursor:pointer" style="cursor:pointer">
                                <p class="card-category" data-toggle="modal" data-target="#taskModal{{ key }}">{{ value.task_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; justify-content:space-between">
                    <div class="card-footer" style="display:flex; flex-direction:row;">
                        <div style="display:flex; flex-direction:row;">

                            {% if value.task_bookmark == 'False' %}
                            <div class="bookmark" style="text-align: center; width: 25px; background-color: #e4e4e4; height: 25px; border-radius: 6px;margin-right:5px">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px;" class="fa fa-star"></i>
                            </div>
                            {% endif %}

                            {% if value.task_attachment == 'None' %}
                            <div class="stats" style="text-align: center; width: 25px; background:#e4e4e4; height: 25px; border-radius: 6px; margin-right:5px;">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px" class="fas fa-paperclip"></i>
                            </div>
                            {% endif %}


                            <div style="background-color:#e4e4e4; border-radius:6px; vertical-align: middle;">
                                <p style="margin: 2px 5px 0 5px;"> D-{{ value.task_ddate}} </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img style="margin-right:15px; width: 35px; height:35px; border-radius: 20px; cursor:pointer" data-toggle="modal" data-target="#filerequestModal" src="{{ value.task_managerurl }}">
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <!-- 완료 컬럼 -->
    <div class="row" id="list4" style="flex-direction:column; width: 280px; background-color: #e4e4e4; border-radius:6px;" ondrop="drop(this, event)" ondragenter="return false;" ondragover="return false;" >
        <div style="padding:10px 15px 10px 25px;">
            <p class='counter4'  style="font-size:16px; font-weight:300; margin:0px;">완료 </p>
        </div>

        {% for key, value in tasks.items %}
        {% if value.task_state == '완료'%}

        <!-- task 블럭 -->
        <div id="{{ key }}" class="col-lg-3 col-md-6 col-sm-6" style="max-width: 100%; max-height:20%" draggable="true" ondragstart="drag(this, event)">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-7 col-md-8" style="flex:0 0 100%;  max-width:100%;">
                            <div class="numbers" style="cursor:pointer" style="cursor:pointer">
                                <p class="card-category" data-toggle="modal" data-target="#taskModal{{ key }}">{{ value.task_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; justify-content:space-between">
                    <div class="card-footer" style="display:flex; flex-direction:row;">
                        <div style="display:flex; flex-direction:row;">

                            {% if value.task_bookmark == 'False' %}
                            <div class="bookmark" style="text-align: center; width: 25px; background-color: #e4e4e4; height: 25px; border-radius: 6px;margin-right:5px">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px;" class="fa fa-star"></i>
                            </div>
                            {% endif %}

                            {% if value.task_attachment == 'None' %}
                            <div class="stats" style="text-align: center; width: 25px; background:#e4e4e4; height: 25px; border-radius: 6px; margin-right:5px;">
                                <i style="color:#ffffff;font-size:15px;margin: 5px 5px 5px 5px" class="fas fa-paperclip"></i>
                            </div>
                            {% endif %}


                            <div style="background-color:#e4e4e4; border-radius:6px; vertical-align: middle;">
                                <p style="margin: 2px 5px 0 5px;"> D-{{ value.task_ddate}} </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img style="margin-right:15px; width: 35px; height:35px; border-radius: 20px; cursor:pointer;" data-toggle="modal" data-target="#filerequestModal"  src="{{ value.task_managerurl }}">
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}

<!-------------------------------------------프로젝트 팝업창-------------------------------------->
<!--Todo 프로젝트 팝업창 및 변경하기 이슈로 보내기 -->

{% block content_popup %}
<!-- 자료 요청 팝업창 -->
<div class="modal fade" id="filerequestModal" tabindex="-1" role="dialog" aria-labelledby="filerequestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">자료 요청하기</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div style="display:flex; flex-direction:column;width:100%">
          <p style="font-size:16px; margin: 5px 0 0 10px;">요청 내용</p>
          <input class="form-control" type="text" size="20">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: gray;">요청 완료</button>
      </div>
    </div>
  </div>
</div>

<!-- 업무 팝업창 -->
{% for key, value in tasks.items %}
<div class="modal fade" id="taskModal{{ key }}" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">업무</h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="display:flex; flex-direction:column;width:100%">
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무명</p>
                    <input class="form-control" value="{{ value.task_name }}" type="text" size="20">
                </div>
                <div style="display:flex; flex-direction:row; margin-top=5px;">
                    <div style="display:flex; flex-direction:column;width:100%;">
                        <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무 마감 날짜 </p>

                        <div class="col-xs-3" style="margin:5px">
                            <div class="controls">
                                <input class="datepicker form-control"style="margin:0; height:34px;" value="{{ value.task_enddate.0 }}{{ value.task_enddate.1 }}{{ value.task_enddate.2 }}{{ value.task_enddate.3 }}-{{ value.task_enddate.4 }}{{ value.task_enddate.5 }}-{{ value.task_enddate.6 }}{{ value.task_enddate.7 }}" type="text"/>
                            </div>
                        </div>

                    </div>
                    <div style="display:flex; flex-direction:column;width:100%">
                        <p style="font-size:16px; margin: 5px 0 0 10px;"> 담당자</p>
                        <div>
                            <select class="test">
                                <optgroup label="빅데이터팀">
                                  {% if value.task_manager == "박형준" %}
                                    <option value="박형준" selected>박형준</option>
                                  {% else %}
                                    <option value="박형준">박형준</option>
                                  {% endif %}
                                </optgroup>
                                <optgroup label="통합 App Proj. 팀">
                                  {% if value.task_manager == "박예은" %}
                                    <option value="박예은" selected>박예은</option>
                                  {% else %}
                                    <option value="박예은">박예은</option>
                                  {% endif %}
                                  {% if value.task_manager == "정용원" %}
                                    <option value="정용원" selected>정용원</option>
                                  {% else %}
                                    <option value="정용원">정용원</option>
                                  {% endif %}
                                </optgroup>
                                <optgroup label="디지털사업팀">
                                  {% if value.task_manager == "김성우" %}
                                    <option value="김성우" selected>김성우</option>
                                  {% else %}
                                    <option value="김성우">김성우</option>
                                  {% endif %}
                                  <option value="한석환">한석환</option>
                                </optgroup>
                                <optgroup label="IT기획팀">
                                  <option value="김동우">김동우</option>
                                  {% if value.task_manager == "김익준" %}
                                    <option value="김익준" selected>김익준</option>
                                  {% else %}
                                    <option value="김익준">김익준</option>
                                  {% endif %}
                                  <option value="김정은">김정은</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무 내용</p>
                    <textarea class="form-control" style="height:100px; max-height:200px; padding:10px">{{ value.task_content }}</textarea>
                </div>
                <div style="display:flex; flex-direction:column;width:100%">
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 첨부파일</p>
                    <input class="form-control" type="file" size="20" multiple style="cursor:pointer">
                </div>
		<div style="display:flex; flex-direction:column;width:100%">
            	  <p style="font-size:16px; margin: 5px 0 0 10px;"> 댓글</p>
            	  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              	    <img style="margin-left:15px; width: 35px; height:35px; border-radius: 20px"  src="../../../staticfiles/assets/img/ij.jpg">
              	    <input class="form-control" type="text" size="20">
              	    <button type="button" class="btn btn-primary" style="background-color: gray; width: 50px; height: 29.2px; padding: 5px;">등록</button>
		  </div>
		  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #e4e4e4; margin: 0 0 10px 35px; border-radius: 6px;">
              	    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                      <img style="margin-left:15px; width: 35px; height:35px; border-radius: 20px"  src="../../../staticfiles/assets/img/sw.jpg">
                      <div style="display: flex; flex-direction: column;">
                        <hr style="margin:0 0 5px 5px; border-color: #e4e4e4">
                  	<p style="font-size:12px; margin: 0 0 0 10px;">김성우</p>
                  	<p style="font-size:14px; margin: 0 0 0 10px;">개발을 하고 Git에 Push 하는 것을 생활화 해주세요!</p>
                  	<p style="font-size:9px; margin: 2px 0 0 10px;">2019.08.16 14:23</p>
                  	<hr style="margin:0 0 5px 5px; border-color: #e4e4e4">
                      </div>
                    </div>
                  </div>
            	</div>
            <div class="modal-footer">
                <button type="button" onclick="addIssue('{{value.task_key}}')" class="btn btn-issue" style="background-color: gray;">이슈로 보내기</button>
		        <button type="button" onclick="deleteTask('{{ value.task_key }}')" class="btn btn-cancel" style="background-color: gray;" data-dismiss="modal">업무 삭제</button>
                <button type="button" onclick="updateTask()" class="btn btn-primary" style="background-color: gray;" data-dismiss="modal">수정 완료</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}

<!-------------------------------------------Plus 버튼과 기능-------------------------------------->
{% block plus %}

<!-- 추가 버튼 -->
<div style="text-align: -webkit-right;">
    <div class="plusbtn" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus" style="font-size:35px; color:gray; margin-top:8px"></i>
    </div>
</div>

<!-- 업무 추가 팝업창 -->
<form name="myForm" onsubmit="return validateForm()" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">업무 생성하기</h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                <div style="display:flex; flex-direction:column;width:100%">
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무명</p>
                    <input class="form-control" id="task_name" type="text" size="20">
                </div>
                <div style="display:flex; flex-direction:row; margin-top=5px;">
                    <div style="display:flex; flex-direction:column;width:100%;">
                        <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무 마감 날짜</p>

                        <div class="col-xs-3" style="margin:5px">
                            <div class="controls">
                                <input class="datepicker form-control" id="end_date" style="margin:0; height:34px;" type="text"/>
                            </div>
                        </div>

                    </div>
                    <div style="display:flex; flex-direction:column;width:100%">
                        <p style="font-size:16px; margin: 5px 0 0 10px;"> 담당자</p>
                        <div>
                            <select class="test" id="members">
                                <option value="" selected disabled>선택해주세요.</option>
                                <optgroup label="빅데이터팀">
                                    <option value="박형준">박형준</option>
                                </optgroup>
                                <optgroup label="통합 App Proj. 팀">
                                    <option value="박예은">박예은</option>
                                    <option value="정용원">정용원</option>
                                </optgroup>
                                <optgroup label="디지털사업팀">
                                    <option value="김성우">김성우</option>
                                    <option value="한석환">한석환</option>
                                </optgroup>
                                <optgroup label="IT기획팀">
                                    <option value="김동우">김동우</option>
                                    <option value="김익준">김익준</option>
                                    <option value="김정은">김정은</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무 내용</p>
                    <textarea class="form-control" id="content" style="height:200px; max-height:200px; padding:10px"></textarea>
                </div>
                <div style="display:flex; flex-direction:column;width:100%">
                    <p style="font-size:16px; margin: 5px 0 0 10px;"> 첨부파일</p>
                    <input class="form-control" id="attachment" type="file" size="20" multiple>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addTask()" style="background-color: gray;" data-dismiss="modal">완료</button>
            </div>
        </div>
    </div>
    </form>
</div>
</form>
{% endblock %}

<!-------------------------------------------Dashboard Sidebar 호출-------------------------------------->
{% block sidebar %}
<li class="active">
    <a href="/main/">
        <i class="nc-icon nc-tile-56"></i>
        <p>업무</p>
    </a>
</li>
<li>
    <a href="/timeline/">
        <i class="nc-icon nc-bullet-list-67"></i>
        <p>타임라인</p>
    </a>
</li>
<li>
    <a href="/issue/">
        <i class="nc-icon nc-chat-33"></i>
        <p>이슈</p>
    </a>
</li>
<li>
    <a href="/meeting/">
        <i class="nc-icon nc-calendar-60"></i>
        <p>캘린더</p>
    </a>
</li>
<li>
    <a href="/drive/">
        <i class="nc-icon nc-box-2"></i>
        <p>드라이브</p>
    </a>
</li>
{% endblock %}

{% block script %}

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>


<script type="text/javascript">
$('.bookmark').click(function() {
    if($(this).css('background-color') =='rgb(251, 198, 88)') {
      $(this).css('background-color', '#e4e4e4');
    } else {
      $(this).css('background-color', 'rgb(251, 198, 88)');
    }
});
</script>

<script type="text/javascript">
/*
var str = "";
$(".content").change(function(){
    var a = $("#list1").find("[id^=task]").length;
    var b = $("#list2").find("[id^=task]").length;
    var c = $("#list3").find("[id^=task]").length;
    var d = $("#list4").find("[id^=task]").length;
    $("select option:selected").each(function(){
            str += $(this).text() + " ";
        });
    $("div").text(str);
    $(".counter1").append(a);
    $(".counter2").append(b);
    $(".counter3").append(c);
    $(".counter4").append(d);
}).change();
*/
</script>


<script type="text/javascript">
function drag(target, task) {   //드래그 시작시 호출 할 함수
  task.dataTransfer.setData('Text', target.id);
};
function drop(target, task) {   //드롭시 호출 할 함수
  var id = task.dataTransfer.getData('Text');
  target.appendChild(document.getElementById(id));
  task.preventDefault();
};
</script>

<script>
var firebaseConfig = {
    apiKey: "AIzaSyAD9cgR44bN3rFqgQ_UDSJDMi4Krv2q58k",
    authDomain: "web-test-f1437.firebaseapp.com",
    databaseURL: "https://web-test-f1437.firebaseio.com",
    projectId: "web-test-f1437",
    storageBucket: "web-test-f1437.appspot.com",
    messagingSenderId: "147985162974",
    appId: "1:147985162974:web:0772d3ad436a42f5"
    };

    firebase.initializeApp(firebaseConfig);

    var db = firebase.database().ref()
</script>

<script>

  function addTask(){

    var member_list = [];
    var manager = document.getElementById("members").value;
    var task_createdate = new Date();
    task_createdate = getDate(task_createdate);

    var task_name = document.getElementById("task_name").value;
    var task_enddate = document.getElementById("end_date").value;
    task_enddate = yyyymmdd(task_enddate);
    task_enddate = task_enddate + "";

    var content = document.getElementById("content").value;
    var attachment = document.getElementById("attachment").value;

    if (attachment == ""){
        attachment = "None";
    }

    var project_members = db.child("Project").child("{{ projectkey }}").child("project_member")
    project_members.once('value').then(function(data){
        members = data.val();
        console.log(members);
        console.log(manager);

        var task_manager = "";
        for (i in members){
            if (i == manager) {task_manager = members[i];}
        }
        console.log(task_manager);
        if (task_manager == ""){
            alert("프로젝트 미참여 인원");
            return;
        }

        if (task_name == ""){
          alert("업무명 비어있음");
          return;
        }
        if (task_enddate.length != 8 || task_createdate > task_enddate){
          alert("날짜를 확인 하시오");
          return;
        }
        finaldata = {
            "task_name" : task_name,
            "task_createdate" : task_createdate,
            "task_enddate" : task_enddate,
            "task_content" : content,
            "task_manager" : task_manager,
            "task_state" : "해야할일",
            "task_rank" : "보통",
            "task_bookmark" : "False",
            "task_attachment" : attachment,
            "Issued": {"TF": "False", "issued_date": "None", "issued_content" : ""}
        }
        console.log(finaldata);

        var newPostKey = firebase.database().ref().child('Project').child("{{projectkey}}").child('Task').push().key;
        console.log(newPostKey);

        // Write the new post's data simultaneously in the posts list and the user's post list.
        var updates = {};
        updates['/Project/{{projectkey}}/Task/' + newPostKey] = finaldata;
        firebase.database().ref().update(updates);



    });
    location.reload();


  }

  function addIssue(taskkey) {

    var today = new Date();
    var today = getDate(today);

    console.log(taskkey);
    updates = {};
    updates['/Project/{{ projectkey }}/Task/'+ taskkey +'/Issued/TF'] = "True";
    updates['/Project/{{ projectkey }}/Task/' + taskkey + '/Issued/issued_date'] = today;
    console.log(updates)
    firebase.database().ref().update(updates);

    location.reload();
  }

  function deleteTask(taskkey){
    console.log(taskkey)

    firebase.database().ref().child('Project').child('{{ projectkey }}').child('Task').child(taskkey).remove();

    location.reload();
  }


  function getDate(date) {
    var mm = date.getMonth() + 1; // getMonth() is zero-based
    var dd = date.getDate();

    return [date.getFullYear(),
            (mm>9 ? '' : '0') + mm,
            (dd>9 ? '' : '0') + dd
           ].join('');
  };

  function yyyymmdd(date) {
    return [date[0] + date[1] + date[2] + date[3] + date[5] + date[6] + date[8] + date[9]]
  }



</script>

{% endblock %}
