{% extends 'index.html' %}
<!-------------------------------------------Project 출력-------------------------------------->

{% block content %}
<div class="content" style="display: flex; flex-direction: row;">
  <div class="row" id="list1" style=" width: 30%; height:500px; background-color: #e4e4e4; border-radius: 6px;">
    <div class="container">
      <ul class="file-tree" style="margin:20px">
        <li><a href="#">디지털전략본부</a>
          <ul>
            <li><a href="#">디지털전략팀</a>
              <ul>
              </ul>
            </li>
            <li><a href="#">인플루언서커머스Proj.팀</a>
              <ul>
              </ul>
            </li>
            <li><a href="#">디지털사업부문</a>
              <ul>
                <li><a href="#">디지털사업팀</a>
                  <ul>
                  </ul>
                </li>
                <li><a href="#">빅데이터팀</a>
                  <ul>
                  </ul>
                </li>
                <li><a href="#">IT기획팀</a>
                  <ul>
                  </ul>
                </li>
                <li><a href="#">통합AppProj.팀</a>
                  <ul>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">엘롯데부문</a>
              <ul>
              </ul>
            </li>
            <li><a href="#">프리미엄패션몰부문</a>
              <ul>
              </ul>
            </li>
            <li><a href="#">옴니매장개발T/F팀</a>
              <ul>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div style="display:flex; flex-direction:row; background-color: #e4e4e4; width: 70%; margin-left: 30px; height:500px; border-radius: 6px; padding: 20px">
    <div class="drivefile">
      <i class="far fa-file-pdf" style="color:red; font-size: 100px" data-toggle="modal" data-target="#previewModal"></i>
      <p style="font-size: 12px; margin-top: 5px;"> 협업툴.pdf </p>
    </div>
    <div class="drivefile">
      <i class="far fa-file-word" style="color:blue; font-size: 100px;"></i>
      <p style="font-size: 12px; margin-top: 5px"> Dashboard UI/UX.docx </p>
    </div>
    <div class="drivefile">
      <i class="far fa-file-powerpoint" style="color:#ff5e5e; font-size: 100px;"></i>
      <p style="font-size: 12px; margin-top: 5px"> Dashboard UI/UX.pptx </p>
    </div>
    <div class="drivefile">
      <i class="far fa-file-excel" style="color:green; font-size: 100px;"></i>
      <p style="font-size: 12px; margin-top: 5px"> Dashboard UI/UX.xlsx </p>
    </div>
    <div class="drivefile">
      <i class="far fa-file-alt" style="color:black; font-size: 100px;"></i>
      <p style="font-size: 12px; margin-top: 5px"> Dashboard UI/UX.txt </p>
    </div>
    <div class="drivefile">
      <i class="far fa-file-image" style="color:#51bcda; font-size: 100px;"></i>
      <p style="font-size: 12px; margin-top: 5px"> Dashboard UI/UX.jpg </p>
    </div>
  </div>
</div>

{% endblock %}

<!-------------------------------------------프로젝트 팝업창-------------------------------------->
{% block content_popup %}

<!-- 파일 프리뷰 및 다운로드 팝업 -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">파일 미리보기</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div style="display: flex; justify-content: center;">
          <iframe src="../../../staticfiles/assets/doc/협업툴.pdf" style="width: 444px; height: 555px;"></iframe>
        </div>
        <div class="modal-footer">
          <a href="../../../staticfiles/assets/doc/협업툴.pdf">
            <button type="button" class="btn btn-primary" style="background-color: gray;">파일 다운로드</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-------------------------------------------Plus 버튼과 기능-------------------------------------->
{% block plus %}

<div style="text-align: -webkit-right;">
  <div class="plusbtn" data-toggle="modal" data-target="#uploadModal" style="cursor:pointer;">
    <i class="fas fa-upload" style="font-size:30px; color:gray; margin-top:8px"></i>
  </div>
</div>


<!-- 파일 업로드 팝업창 -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">파일 업로드</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div style="display:flex; flex-direction:row;">
          <input type="file" id="myPCbtn" style="display: block; margin-bottom: 5px; cursor:pointer">
        </div>
        <div id="filedd" class="drop" style="min-height: 50px; width: 100%; border: 1px solid black; padding: 13px 5px 5px 150px;  display: block; justify-content: center; align-items: center;">파일을 Drag & Drop 해주세요.</div>
        <div class="list" style="margin: 10px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: gray;" data-dismiss="modal">업로드 완료</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!------------------------------------------- Sidebar 호출-------------------------------------->
{% block sidebar %}
<li>
  <a href="/main/">
    <i class="nc-icon nc-tile-56"></i>
    <p>업무</p>
  </a>
</li>
<li>
  <a href="/timeline/">
    <i class="nc-icon nc-bullet-list-67"></i>
    <p>타임라인</p>
  </a>
</li>
<li>
  <a href="/issue/">
    <i class="nc-icon nc-chat-33"></i>
    <p>이슈</p>
  </a>
</li>
<li>
  <a href="/meeting/">
    <i class="nc-icon nc-calendar-60"></i>
    <p>캘린더</p>
  </a>
</li>
<li class="active">
  <a href="/drive/">
    <i class="nc-icon nc-box-2"></i>
    <p>드라이브</p>
  </a>
</li>
{% endblock %}

{% block script %}

<script>
  $(document).ready(function() {
    $(".file-tree").filetree();
  });
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  $('#myPCbtn').click(function() {
    $('#filedd').css('display','none')
  });
</script>

<script type="text/javascript">
  $("#uploadModal").on('hidden.bs.modal', function () {
    $('#myPCbtn').css('display','block');
    $('#filedd').css('display','block');
  });
</script>

{% endblock %}
