{% extends 'index.html' %}
<!-------------------------------------------Project 출력-------------------------------------->
{% block sidebar %}
<li>
  <a href="/main/">
    <i class="nc-icon nc-tile-56"></i>
    <p>업무</p>
  </a>
</li>
<li>
  <a href="/timeline/">
    <i class="nc-icon nc-bullet-list-67"></i>
    <p>타임라인</p>
  </a>
</li>
<li class="active">
  <a href="/issue/">
    <i class="nc-icon nc-chat-33"></i>
    <p>이슈</p>
  </a>
</li>
<li>
  <a href="/meeting/">
    <i class="nc-icon nc-calendar-60"></i>
    <p>캘린더</p>
  </a>
</li>
<li>
  <a href="/drive/">
    <i class="nc-icon nc-box-2"></i>
    <p>드라이브</p>
  </a>
</li>
{% endblock %}

{% block content %}
      <div class="content">
        <div class="row" id="list1" style="flex-direction:row;">

	          <div class="col-md-12">
            <div class="card">
              <div class="card-header" style="padding: 0 15px 0;">
                <h5 style="margin-bottom: 0px; margin-left: 5px;" class="card-title">프로젝트</h5>
              </div>
              <div class="card-body" style="padding: 0px 5px 5px 5px;">
                  <table class="table" style="text-align:center; padding: 10px; margin:5px" >
                    <thead class=" text-primary">
                    <th>번호</th>
                    <th>프로젝트명</th>
                    <th>이슈등록 날짜</th>
                    </thead>
                    <tbody>

                      {% for key,value in project.items %}
                      <tr class="tabletr" data-toggle="modal" data-target="#exampleModal" style="cursor:pointer">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ key }}</td>
                        <td>{{ value.issued_date.0 }}{{ value.issued_date.1 }}{{ value.issued_date.2 }}{{ value.issued_date.3 }}-{{ value.issued_date.4 }}{{ value.issued_date.5 }}-{{ value.issued_date.6 }}{{ value.issued_date.7 }}</td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header" style="padding: 0 15px 0;">
                <h5 style="margin-bottom: 0px; margin-left: 5px;"  class="card-title">업무</h5>
              </div>
              <div class="card-body" style="padding: 0px 5px 5px 5px;">
                  <table class="table" style="text-align:center; padding: 10px; margin:5px" >
                    <thead class=" text-primary">
                      <th>번호</th>
                      <th>프로젝트명</th>
                      <th>업무명</th>
                      <th>이슈등록 날짜 </th>
                    </thead>
                    <tbody>
                      {% for key, value in task.items %}
                      <tr class="tabletr" data-toggle="modal" data-target="#taskModal">
                        <td >{{ forloop.counter }}</td>
                        <td id="project_name">{{ value.project_name }}</td>
                      <tr class="tabletr" data-toggle="modal" data-target="#taskModal" style="cursor:pointer">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.project_name }}</td>
                        <td>{{ key }}</td>
                        <td>{{ value.issued_date.0 }}{{ value.issued_date.1 }}{{ value.issued_date.2 }}{{ value.issued_date.3 }}-{{ value.issued_date.4 }}{{ value.issued_date.5 }}-{{ value.issued_date.6 }}{{ value.issued_date.7 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
	</div>
    	</div>
{% endblock %}

{% block content_popup %}
	<!-- Todo 프로젝트와 Task 팝업창 정보 전달 익준이에게 물어보기 -->

      <!-- 프로젝트 이슈 팝업창 -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">이슈 내용</h5>
              <div class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            </div>
            <div class="modal-body">
              <div style="display:flex; flex-direction:column;width:100%">
                <p style="font-size:16px; margin: 5px 0 0 10px;"> 프로젝트명</p>
                <p style="font-size:18px; font-weight:400;  margin: 5px 0 0 10px;"> 롯데백화점 협업툴 제작</p> 
              </div>
	      <div>
	      	<p style="font-size:16px; margin: 5px 0 0 10px;">이슈 사유 </p>
               	<input value="기술적 결함에 따른 지연" class="form-control" type="text" size="20">
	      </div>
            </div>
            <div class="modal-footer" style="padding:5px">
              <button type="button" class="btn btn-primary" style="background-color: gray;">수정 완료</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 업무 이슈 팝업창 -->
      <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">이슈 내용</h5>
              <div class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            </div>
            <div class="modal-body">
	     <div style="display:flex; flex-direction: row; width:100%">	
              <div style="display:flex; flex-direction:column;width:100%">
                <p style="font-size:16px; margin: 5px 0 0 10px;"> 프로젝트명</p>
                <p style="font-size:18px; font-weight:400;  margin: 5px 0 0 10px;"> PUSH 알람 서비스</p>
              </div>
	      <div style="display:flex; flex-direction:column;width:100%" >
                <p style="font-size:16px; margin: 5px 0 0 10px;"> 업무명</p>
                <p style="font-size:18px; font-weight:400;  margin: 5px 0 0 10px;"> 프론트 개발</p>
              </div>
	     </div>
             <div>
                <p style="font-size:16px; margin: 5px 0 0 10px;">이슈 사유 </p>
                <input value="기술적 결함에 따른 지연" class="form-control" type="text" size="20">
              </div>
            </div>
            <div class="modal-footer" style="padding:5px">
              <button type="button" class="btn btn-primary" style="background-color: gray;">수정 완료</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

