{% extends 'index.html' %}
<!-------------------------------------------Project 출력-------------------------------------->

{% block content %}


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
     // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
</script>



<div class="content" style="padding:0 30px 15px">
  <div class="row" id="list1" style="flex-direction:row;">
    <div id='wrap'>
     <div id='calendar'></div>
     <div style='clear:both'></div>
   </div>
 </div>
</div>

{% endblock %}

<!-------------------------------------------프로젝트 팝업창-------------------------------------->
{% block content_popup %}

<!-- 이벤트 모달 -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">회의 내용</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
	  <div style="display:flex; flex-direction:row;width:100%; justify-content: space-between;">
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의명</p>
            <input value="인턴 프로젝트 아이디어 회의" class="form-control" type="text" size="20">
          </div>
</div>
	  <div style="display:flex; flex-direction:column;">
	    <p style="font-size:16px; margin: 5px 0 0 10px;">회의녹음</p>
      	      <div style="display:flex; flex-direction:row;justify-content: start;">
                <div id="controls" style="display:flex; flex-direction:row;justify-content: space-between; width: 80px;">
                  <div class="btn-record" id="recordButton" style="display:block; margin:10px; background-color:gray; width: 50px; height: 50px; border: transparent; border-radius: 25px; text-align: center">
                    <i class="fas fa-microphone-alt" style="font-size:35px; color:#fffff; margin-top:8px"></i>
                  </div>
                  <div class="btn-cancel" id="pauseButton"  style="display:none; background-color:gray; width: 35px; height: 35px; border: transparent; border-radius: 25px; text-align: center; margin-top: 15px; margin-bottom:15px;">
                    <i class="fas fa-pause" style="font-size:20px; color:#fffff; margin-top:8px"></i>
                  </div>
                  <div id="stopButton" class="btn-cancel" style="display:none; background-color:gray; width: 35px; height: 35px; border: transparent; border-radius: 25px; margin-top: 15px; margin-bottom:15px;  text-align: center">
                    <i class="fas fa-square" style="font-size:20px; color:#fffff; margin-top:8px"></i>
                  </div>
                </div>
                <ul id="recordingsList" style="color: #ffffff; margin: 8px 0 0 0; padding-left: 0px; padding-right: 8px;"></ul>
		<div id="uploadButton" class="btn-primary" style="display:none ; margin: 10px; background-color: gray; width: 50px; height: 50px; border: transparent; border-radius: 25px; text-align: center;">
		{% csrf_token %}
		  <i class="fas fa-chart-line" style="font-size:33px; color:#ffffff; margin-top: 8px;"></i>
		</div>
              </div>
              <div id="formats" style="display: none">Format: start recording to see sample rate</div>
            </div>
            <div style="display:flex; flex-direction:row; margin-top=5px;">
            <div style="display:flex; flex-direction:column;width:100%;">
              <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 일정</p>

              <div class="col-xs-3" style="margin:5px">
              <div class="controls">
                <input value="2019-08-02" class="datepicker form-control"style="margin:0;" type="text"/>
              </div>  
            </div>

          </div>
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 멤버</p>
            <div>
              <select class="test" multiple="multiple">
                <optgroup label="빅데이터팀">
                  <option value="1" selected>박형준</option>
                </optgroup>
                <optgroup label="통합 App Proj. 팀">
                  <option value="2" selected>박예은</option>
                  <option value="3" selected>정용원</option>
                </optgroup>
                <optgroup label="디지털사업팀">
                  <option value="4" selected>김성우</option>
                  <option value="5">한석환</option>
                </optgroup>
                <optgroup label="IT기획팀">
                  <option value="6">김동우</option>
                  <option value="7" selected>김익준</option>
                  <option value="8">김정은</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div>
          <p style="font-size:16px; margin: 5px 0 0 10px;">회의 장소</p>
          <input value="삼성빌딩 회의실1" class="form-control" style="padding:10px" type="text">
        </div>
        <div>
          <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 내용 요약 </p>
          <textarea class="form-control" style="height:200px; max-height:100px; width: 100%; padding:10px">롯데백화점 유통업 특성에 어울리는 내부 프로젝트 협업 솔루션 개발. 목적은 롯데 백화점 디지털 부문 사업 확장에 따른 디지털 개발 내부 프로젝트 협업 솔루션 제공 디지털 부문을 제외하고, MD와 유통 경영 관련 프로젝트도 함께 반영할 수 있는 유통 전반적인 협업 솔루션 개발</textarea>
        </div>
        <div style="display:flex; flex-direction:row;width:100%">
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;">녹음파일</p>
            <input style="width: 225px;"class="form-control" type="file" multiple>
          </div>
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;">회의록파일</p>
            <div class="form-control" style="height: 35.2px; display:flex; align-items:center">
	      <p style="margin:0; cursor:pointer"><input></input></p>
	    </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" style="background-color: gray;">회의 삭제</button>
        <button type="button" class="btn btn-primary" style="background-color: gray;">수정 완료</button>
      </div>
    </div>
  </div>
</div>

<!-- 회의 생성 모달 -->
<div class="modal fade" id="eventcreateModal" tabindex="-1" role="dialog" aria-labelledby="eventcreateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">회의 생성</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div style="display:flex; flex-direction:row;width:100%; justify-content: space-between;">
          <div style="display:flex; flex-direction:column;width:80%">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의명</p>
            <input class="form-control" type="text" size="20">
          </div>
          <div style="display:flex; flex-direction:row;justify-content: space-between; width: 80px;">
            <div class="btn-record" style="margin:10px; background-color:gray; width: 50px; height: 50px; border: transparent; border-radius: 25px; text-align: center">
              <i class="fas fa-microphone-alt" style="font-size:35px; color:#fffff; margin-top:8px"></i>
            </div>
          </div>
        </div>
        <div style="display:flex; flex-direction:row; margin-top=5px;">
          <div style="display:flex; flex-direction:column;width:100%;">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 일정</p>

            <div class="col-xs-3" style="margin:5px">
              <div class="controls">
                <input class="datepicker form-control"style="margin:0;" type="text"/>
              </div>  
            </div>

          </div>
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 멤버</p>
            <div>
              <select class="test" multiple="multiple">
                <optgroup label="빅데이터팀">
                  <option value="1">박형준</option>
                </optgroup>
                <optgroup label="통합 App Proj. 팀">
                  <option value="2">박예은</option>
                  <option value="3">정용원</option>
                </optgroup>
                <optgroup label="디지털사업팀">
                  <option value="4">김성우</option>
                  <option value="5">한석환</option>
                </optgroup>
                <optgroup label="IT기획팀">
                  <option value="6">김동우</option>
                  <option value="7">김익준</option>
                  <option value="8">김정은</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div>
          <p style="font-size:16px; margin: 5px 0 0 10px;">회의 장소</p>
          <input class="form-control" style="padding:10px" type="text">
        </div>
        <div>
          <p style="font-size:16px; margin: 5px 0 0 10px;"> 회의 내용 요약 </p>
          <textarea class="form-control" style="height:200px; max-height:200px; width: 100%; padding:10px"></textarea>
        </div>
        <div style="display:flex; flex-direction:row;width:100%">
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;">녹음파일</p>
            <input style="width: 225px;"class="form-control" type="file" multiple>
          </div>
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;">회의록파일</p>
            <input class="form-control" type="file" multiple>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: gray;">생성 완료</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-------------------------------------------Plus 버튼과 기능-------------------------------------->
{% block plus %}

<div style="display:flex; flex-direction:row; justify-content:flex-end">
  <div style="text-align: -webkit-right; ">
    <img style="cursor:pointer;"  class="plusbtn" src="../../../staticfiles/assets/img/meeting.png" data-toggle="modal" data-target="#exampleModal">
  </div>
</div>

<!-- 회의 신청 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">보고(회의) 요청하기</h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div style="display:flex; flex-direction:column;width:100%">
          <p style="font-size:16px; margin: 5px 0 0 10px;"> 보고(회의)명</p>
          <input class="form-control" type="text" size="20">
        </div>
        <div style="display:flex; flex-direction:row; margin-top=5px;">
          <div style="display:flex; flex-direction:column;width:100%;">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 보고(회의) 일정</p>

            <div class="col-xs-3" style="margin:5px">
              <div class="controls" style="display:flex; flex-direction:row;">
                <input class="datepicker form-control"style="margin: 0 5px 0 0;" type="text"/>
	        <input class="form-control" style="margin:0;" type="time"/>
              </div>
            </div>

          </div>
          <div style="display:flex; flex-direction:column;width:100%">
            <p style="font-size:16px; margin: 5px 0 0 10px;"> 보고(회의) 멤버</p>
            <div>
              <select class="test" multiple="multiple">
                <optgroup label="빅데이터팀">
                  <option value="1">박형준</option>
                </optgroup>
                <optgroup label="통합 App Proj. 팀">
                  <option value="2">박예은</option>
                  <option value="3">정용원</option>
                </optgroup>
                <optgroup label="디지털사업팀">
                  <option value="4">김성우</option>
                  <option value="5">한석환</option>
                </optgroup>
                <optgroup label="IT기획팀">
                  <option value="6">김동우</option>
                  <option value="7">김익준</option>
                  <option value="8">김정은</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div>
         <p style="font-size:16px; margin: 5px 0 0 10px;">보고(회의) 장소</p>
         <input class="form-control" style="padding:10px" type="text">
       </div>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-primary" style="background-color: gray;">보고요청</button>
      <button type="button" class="btn btn-primary" style="background-color: gray;">회의요청</button>
    </div>
  </div>
</div>
</div>

{% endblock %}

<!------------------------------------------- Sidebar 호출-------------------------------------->
{% block sidebar %}
<li>
  <a href="/main/">
    <i class="nc-icon nc-tile-56"></i>
    <p>업무</p>
  </a>
</li>
<li>
  <a href="/timeline/">
    <i class="nc-icon nc-bullet-list-67"></i>
    <p>타임라인</p>
  </a>
</li>
<li>
  <a href="/issue/">
    <i class="nc-icon nc-chat-33"></i>
    <p>이슈</p>
  </a>
</li>
<li class="active">
  <a href="/meeting/">
    <i class="nc-icon nc-calendar-60"></i>
    <p>캘린더</p>
  </a>
</li>
<li>
  <a href="/drive/">
    <i class="nc-icon nc-box-2"></i>
    <p>드라이브</p>
  </a>
</li>
{% endblock %}


{% block script %}

  <script type="text/javascript">
    $(function(){
    $("#btnAdd").click(function(){ //btnAdd라는 버튼을 눌렀을때 ->이벤트 등록
      var html = '<div id=""class="col-lg-3 col-md-6 col-sm-6" style="max-width: 100%;">\
      <div class="card card-stats">\
      <div style="text-align: -webkit-right; margin-right: 5px; margin-top: 1.5px;">\
      <i id="btnDel" class="nc-icon nc-simple-remove" ></i>\
      </div>\
      <div class="card-body ">\
      <div class="row">\
      <div class="col-5 col-md-4">\
      <div class="icon-big text-center icon-warning">\
      <i class="nc-icon nc-favourite-28 text-primary"></i>\
      </div>\
      </div>\
      <div class="col-7 col-md-8">\
      <div class="numbers">\
      <p class="card-category">Followers</p>\
      <p class="card-title">+45K\
      <p>\
      </div>\
      </div>\
      </div>\
      </div>\
      <div class="card-footer ">\
      <hr>\
      <div class="stats">\
      <i class="fa fa-refresh"></i> Update now\
      </div>\
      </div>\
      </div>\
      </div>';

      $("#list").append(html); //list라는 아이디에 html을 추가해라
    });

  $("#list").on("click", "#btnDel", function() { //list안의 btnDel을 선택
      $(this).parent().parent().parent().remove(); //this(btnDel)의 부모(td)의 부모(tr)를 삭제
    });  
})
</script>

<script>

	$(document).ready(function() {
   var date = new Date();
   var d = date.getDate();
   var m = date.getMonth();
   var y = date.getFullYear();

		/*  className colors

		className: default(transparent), important(red), chill(pink), success(green), info(blue)

		*/


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events div.external-event').each(function() {

			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};

			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


		/* initialize the calendar
		-----------------------------------------------------------------*/

		var calendar =  $('#calendar').fullCalendar({
			height:500,
			header: {
				left: 'title',
				right: 'prev,next today'
			},
			editable: true,
			firstDay: 0, //  1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: true,
			defaultView: 'month',

			axisFormat: 'h:mm',
			columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
              },
              titleFormat: {
                month: 'yyyy년 MMMM', // September 2009
                week: "yyyy년 MMMM", // September 2009
                day: 'yyyy년 MMMM d ddd'                  // Tuesday, Sep 8, 2009
              },
              allDaySlot: false,
              selectHelper: true,
              
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped

				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');

				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);

				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;

				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}

			},

			events: [
     {
       title: '',
       start: new Date(y, m, 6),
       className: 'info'
     },
     {
       title: '',
       start: new Date(y, m, 9),
       className: 'info'
     },
     {
       title: '',
       start: new Date(y, m, 10),
       className: 'info'
     },
     {
       title: '',
       start: new Date(y, m, 13),
       className: 'info'
     },
     {
       title: '',
       start: new Date(y, m, 16),
       className: 'info'
     }
     ],
   });


	});

</script>

<script type="text/javascript">
  $('#recordButton').click(function() {
    $(this).css('display', 'none');
    $('#pauseButton').css('display', 'block');
    $('#stopButton').css('display', 'block');
    $('#uploadButton').css('display', 'none');
    $('#recordingsList').children().remove();
  });
</script>

<script type="text/javascript">
  $("#eventModal").on('hidden.bs.modal', function () {
    $('#pauseButton').css('display','none');
    $('#stopButton').css('display','none');
    $('#recordButton').css('display', 'block');
    $('#uploadButton').css('display', 'none');
    $('#recordingsList').children().remove();
  });
</script>

<script type="text/javascript">
  $("#stopButton").click( function () {
    $('#pauseButton').css('display','none');
    $('#stopButton').css('display','none');
    $('#recordButton').css('display', 'block');
    $('#uploadButton').css('display', 'block');
  });
</script>

<!-- Record -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="../../../staticfiles/assets/js/app.js"></script>

{% endblock %}
