{% extends 'index.html' %}

<!-------------------------------------------Project 출력-------------------------------------->
{% block content %}
      <div class="content" style="padding-bottom:0;">
        <div class="row" id="list1" style="flex-direction:row;">
	  <div id="chartdiv" style="width:1100px; height: 550px; margin: 0 40px 0 40px;"></div>
        </div>
      </div>
{% endblock %}

<!-------------------------------------------Dashboard Sidebar 호출-------------------------------------->
{% block sidebar %}
          <li>
            <a href="/main/">
              <i class="nc-icon nc-tile-56"></i>
              <p>업무</p>
            </a>
          </li>
          <li class="active">
            <a href="/timeline/">
              <i class="nc-icon nc-bullet-list-67"></i>
              <p>타임라인</p>
            </a>
          </li>
          <li>
            <a href="/issue/">
              <i class="nc-icon nc-chat-33"></i>
              <p>이슈</p>
            </a>
          </li>
          <li>
            <a href="/meeting/">
              <i class="nc-icon nc-calendar-60"></i>
              <p>캘린더</p>
            </a>
          </li>
          <li>
            <a href="/drive/">
              <i class="nc-icon nc-box-2"></i>
              <p>드라이브</p>
            </a>
          </li>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in ../../../staticfiles/assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
{% endblock %}
