{% extends 'index.html' %}

<!-------------------------------------------Project 출력-------------------------------------->
{% block content %}
<div class="content" style="padding-bottom:0;">
    <div class="row" id="list1" style="flex-direction:row;">
        <div id="chartdiv" style="width:1100px; height: 550px; margin: 0 40px 0 40px;"></div>
    </div>
</div>
{% endblock %}

<!-------------------------------------------Dashboard Sidebar 호출-------------------------------------->
{% block sidebar %}
          <li>
            <a href="/main/">
              <i class="nc-icon nc-tile-56"></i>
              <p>업무</p>
            </a>
          </li>
          <li class="active">
            <a href="/timeline/">
              <i class="nc-icon nc-bullet-list-67"></i>
              <p>타임라인</p>
            </a>
          </li>
          <li>
            <a href="/issue/">
              <i class="nc-icon nc-chat-33"></i>
              <p>이슈</p>
            </a>
          </li>
          <li>
            <a href="/meeting/">
              <i class="nc-icon nc-calendar-60"></i>
              <p>캘린더</p>
            </a>
          </li>
          <li>
            <a href="/drive/">
              <i class="nc-icon nc-box-2"></i>
              <p>드라이브</p>
            </a>
          </li>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  // Javascript method's body can be found in ../../../staticfiles/assets/assets-for-demo/js/demo.js
  demo.initChartsPages();
});
</script>

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>

<script>

var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.paddingRight = 30;
chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";

var colorSet = new am4core.ColorSet();
colorSet.saturation = 0.4;

var finaldata = [];
var project_count = 0;
{% for key, value in context.items %}

    var category = "{{ key }}";
    temp = {};
    var task_count = 0;
    {% for key, values in value.items %}
        var task = "{{ key }}";
        var start = "{{ values.start }}";
        var end = "{{ values.end }}";

        start = start[0] + start[1] + start[2] + start[3] + '-' + start[4] + start[5] + '-' + start[6] +  start[7]
        end = end[0] + end[1] + end[2] + end[3] + '-' + end[4] + end[5] + '-' + end[6] +  end[7]
        finaldata.push(
            {"category": category,
            "start": start,
            "end": end,
            "color": colorSet.getIndex(project_count).brighten(task_count),
            "task": task
             });
         task_count += 0.2;
    {% endfor %}
    project_count += 2;
{% endfor %}

console.log(finaldata)


</script>

<!-- Timeline 무조건 맨 밑에 있어야함 -->
<script src="../../../staticfiles/assets/js/timeline.js"></script>




{% endblock %}
