/* SportSuite (converted from LESS to SCSS) */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i");
/* Base Colours */
/* Just for CodePen - this stuff would usually be inherited by the styles for the site that SportSuite is embedded within... */
body {
  background-color: #ffffff00;
}

.template-wrapper {
  overflow: hidden;
}

.template {
  padding: 30px;
  margin: 0 auto;
  max-width: 1000px;
  background-color: white;
}

/* SportSuite - Outer */
{
  background-color: white;
}

 {
}

/* SportSuite - Footer */
#sportsuite-footer {
  background-color: #d8d8d8;
  text-align: right;
  padding: 30px;
}
#sportsuite-footer a {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 44px;
  background-image: url("http://cuttlefish.com/static/sportsuite/ss-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px auto;
  text-align: left;
  text-indent: -9999px;
  transition: .2s all;
  filter: grayscale(100%);
  opacity: .6;
}
#sportsuite-footer a:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@media (max-width: 666px) {
  #sportsuite-footer a {
    display: block;
    margin: 0 auto;
  }
}
/* SportSuite - Columns */
.ss-columns:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-columns >  {
  float: left;
  margin-right: 4%;
}

.ss-columns.ss-50-50 {
  /* 50/50 */
}
.ss-columns.ss-50-50 >  {
  width: 48%;
}
.ss-columns.ss-50-50 > :nth-child(2n) {
  margin-right: 0;
}
.ss-columns.ss-50-50 > :nth-child(2n+1) {
  clear: both;
}
.ss-columns.ss-50-50 >  .call-to-action a.cta-button {
  padding: 8px 24px;
  font-size: 1.2em;
}
.ss-columns.ss-50-50 >  .call-to-action p.cta-terms {
  margin-top: 8px;
}

.ss-columns.ss-33-33-33 {
  /* 33/33/33 */
}
.ss-columns.ss-33-33-33 >  {
  width: 30.666%;
}
.ss-columns.ss-33-33-33 > :nth-child(3n) {
  margin-right: 0;
}
.ss-columns.ss-33-33-33 > :nth-child(3n+1) {
  clear: both;
}
.ss-columns.ss-33-33-33 >  .call-to-action a.cta-button {
  padding: 4px 15px;
  font-size: .9em;
}

.ss-columns.ss-33-66 {
  /* 33/66 */
}
.ss-columns.ss-33-66 > :nth-child(2n) {
  width: 65.333%;
  margin-right: 0;
}
.ss-columns.ss-33-66 > :nth-child(2n+1) {
  clear: both;
  width: 30.666%;
}

@media (max-width: 1023px) {
  .ss-columns.ss-50-50 >  {
    width: auto;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .ss-columns.ss-33-33-33 > , .ss-columns.ss-33-66 >  {
    width: auto !important;
    clear: both !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
/* SportSuite - Sections */
 .label {
  color: #5a5a5a;
}
 .heading-wrap {
  padding: 8px 0;
  margin: 0 0 30px;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #d8d8d8;
}
 .heading-wrap h2.heading {
  font-weight: bold;
  font-size: 1.4em;
}
 .heading-wrap a.heading-link {
  font-size: .9em;
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  padding: 2px 0;
  text-decoration: none;
  color: #5a5a5a;
  transform: translateY(-50%);
}
 .heading-wrap a.heading-link:after {
  content: "\ \00bb";
}
 .heading-wrap a.heading-link:hover {
  color: #c00;
}
 .expandable-info {
  margin: 30px 0;
}
 .expandable-info .expand-head {
  padding: 8px 15px;
  line-height: 32px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  z-index: 100;
  color: #5a5a5a;
  border-radius: 5px;
  background-color: #d8d8d8;
}
 .expandable-info .expand-head:before,  .expandable-info .expand-head:after {
  content: " ";
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  background-color: #5a5a5a;
  border-radius: 1px;
  width: 10px;
  height: 2px;
  transition: .2s transform;
}
 .expandable-info .expand-head:before {
  transform: translateY(-50%) translateY(-3px) rotate(-45deg);
}
 .expandable-info .expand-head:after {
  transform: translateY(-50%) translateY(3px) rotate(45deg);
}
 .expandable-info .expand-body {
  display: none;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f8f8f8;
}
 .expandable-info .expand-body p.text {
  margin: 0 0 8px;
}
 .expandable-info .expand-body p.text:last-child {
  margin: 0;
}
 .expandable-info + .expandable-info {
  margin-top: -15px;
}
 .expandable-info.expanded .expand-head,  .expandable-info:hover .expand-head {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 .expandable-info.expanded .expand-head:before,  .expandable-info:hover .expand-head:before {
  transform: translateY(-50%) translateX(3px) rotate(-45deg);
}
 .expandable-info.expanded .expand-head:after,  .expandable-info:hover .expand-head:after {
  transform: translateY(-50%) translateX(-3px) rotate(45deg);
}
 .expandable-info.expanded .expand-body,  .expandable-info:hover .expand-body {
  display: block;
}
 .call-to-action {
  text-align: center;
}
 .call-to-action a.cta-button {
  display: inline-block;
  color: white;
  padding: 15px 45px;
  text-decoration: none;
  background-color: #c00;
  border-radius: 5px;
  line-height: 32px;
  font-size: 1.4em;
  transition: .2s all;
}
 .call-to-action a.cta-button:hover {
  background-color: #b00;
}
 .call-to-action p.cta-terms {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: .8em;
  line-height: 16px;
}
 .call-to-action p.cta-terms a {
  color: inherit;
}
.ss-full-width {
  /* Section - Full Width */
  padding: 60px 50vw;
  background-color: white;
  margin-left: -50vw;
  margin-right: -50vw;
}
.ss-page-list {
  /* Section - Page List */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}
.ss-page-list .page-list-head {
  background-color: #c00;
  line-height: 48px;
  text-align: center;
  padding: 8px 15px 6px;
  transition: .2s all;
  border-bottom: 2px solid #c00;
}
.ss-page-list .page-list-head h2.heading {
  color: white;
  font-size: 1.4em;
}
.ss-page-list .page-list-head:hover {
  background-color: #b00;
}
.ss-page-list .page-list-feed {
  border: 1px solid #d8d8d8;
  border-top: none;
}
.ss-page-list .page-list-feed .item {
  line-height: 1.3;
  position: relative;
  z-index: 100;
  padding: 15px;
  border-bottom: 1px solid #d8d8d8;
}
.ss-page-list .page-list-feed .item .item-page {
  font-weight: bold;
  padding-right: 80px;
}
.ss-page-list .page-list-feed .item .item-page:after {
  color: white;
  font-size: .8em;
  font-weight: normal;
  content: attr(data-badge);
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  background-color: #ff4136;
  transform: translateY(-50%);
}
.ss-page-list .page-list-feed .item .item-page[data-badge=""]:after {
  display: none;
}
.ss-page-list .page-list-feed .item .item-page[data-badge="New!"]:after, .ss-page-list .page-list-feed .item .item-page[data-badge="Updated!"]:after {
  width: auto;
  padding: 0 6px;
  background-color: #ff851b;
}
.ss-page-list .page-list-feed .item .item-page[data-badge="New!"]:after {
  background-color: #ff851b;
}
.ss-page-list .page-list-feed .item .item-page[data-badge="Updated!"]:after {
  background-color: #3d9970;
}
.ss-page-list .page-list-feed .item .item-description {
  display: none;
  color: #5a5a5a;
  font-size: .9em;
  margin-top: 5px;
}
.ss-page-list .page-list-feed .item.last {
  border: none;
}
.ss-page-list .page-list-feed .item.expanded .item-description {
  display: block;
}
.ss-contacts-widget {
  /* Section - Contacts Widget */
  position: relative;
  z-index: 100;
  overflow: hidden;
  text-align: center;
  color: white;
  padding-bottom: 35px;
  background-image: url("http://cuttlefish.com/static/sportsuite/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ss-contacts-widget:after {
  content: " ";
  position: absolute;
  z-index: 100;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #c00;
  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.2);
  opacity: .4;
}
.ss-contacts-widget .contacts-widget {
  position: relative;
  z-index: 200;
}
.ss-contacts-widget h2.heading {
  font-size: 1.6em;
  margin: 0 0 45px;
}
.ss-contacts-widget .items:after, .ss-contacts-widget .items .item:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-contacts-widget .items .item {
  clear: both;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  color: white;
  line-height: 1.3;
  padding: 30px;
  margin: 0 8px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 5px;
  transition: .2s all;
}
.ss-contacts-widget .items .item:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(-3px);
}
.ss-contacts-widget .items .item .img-wrap {
  max-width: 60%;
  margin: 0 auto 15px;
}
.ss-contacts-widget .items .item .img-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-contacts-widget .items .item a {
  color: inherit;
  text-decoration: none;
}
.ss-contacts-widget .items .item a:hover {
  text-decoration: underline;
}
.ss-contacts-widget .items .item h3.heading {
  margin: 0 0 15px;
  font-size: 1.4em;
}
.ss-contacts-widget .items .item dl.data-list dt, .ss-contacts-widget .items .item dl.data-list dd {
  margin: 0 0 2px;
}
.ss-contacts-widget .items .item dl.data-list dt:last-child, .ss-contacts-widget .items .item dl.data-list dd:last-child {
  margin: 0;
}
.ss-contacts-widget .items .item dl.data-list dt.label, .ss-contacts-widget .items .item dl.data-list dd.label {
  color: #cdcdcd;
}
.ss-search-widget {
  /* Section - Search Widget */
  color: white;
  text-align: center;
  background-color: #c00;
}
.ss-search-widget h2.heading {
  margin: 0 0 15px;
  font-size: 1.6em;
}
.ss-search-widget p.text {
  max-width: 640px;
  margin: 0 auto 30px;
}
.ss-search-widget .form-wrap {
  margin: 0 auto;
  max-width: 420px;
  position: relative;
  z-index: 100;
}
.ss-search-widget input.search-box, .ss-search-widget button.search-button {
  display: block;
  border: 0;
  height: 48px;
}
.ss-search-widget input.search-box {
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-family: inherit;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  padding: 0 48px 0 24px;
  box-sizing: border-box;
}
.ss-search-widget input.search-box::placeholder {
  color: #5a5a5a;
  font-style: italic;
}
.ss-search-widget button.search-button {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 48px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-search.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 24px 24px;
}
.ss-search-widget .checkboxes {
  margin-top: 30px;
}
.ss-search-widget .checkboxes .fm-field {
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.ss-search-widget .checkboxes .fm-field input, .ss-search-widget .checkboxes .fm-field label {
  cursor: pointer;
}
.ss-search-widget .checkboxes .fm-field input {
  margin: 0 5px 0 0;
  transform: translateY(-1px);
}
.ss-search-widget .checkboxes .fm-field label {
  font-size: .9em;
}
.ss-search-widget .checkboxes .fm-field:last-child {
  margin: 0;
}
.ss-hero-card {
  /* Section - Hero Card */
  padding: 15px 0;
  position: relative;
  z-index: 100;
  overflow: hidden;
  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}
.ss-hero-card .image-wrap {
  position: absolute;
  z-index: 100;
}
.ss-hero-card .image-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-hero-card .image-wrap.image-banner {
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.ss-hero-card .image-wrap.image-logo {
  top: 50%;
  left: calc(65.333% + 15px);
  transform: translate(-50%, -50%);
  width: 320px;
}
.ss-hero-card .info-wrap {
  padding: 15px;
  margin: 0 15px;
  color: white;
  max-width: calc(34.666% - 15px);
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 200;
  box-sizing: border-box;
  border-radius: 5px;
}
.ss-hero-card .info-wrap .label {
  color: #cdcdcd;
}
.ss-hero-card  {
  margin: 0 0 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ss-hero-card  .icon-wrap, .ss-hero-card  h2.heading {
  vertical-align: middle;
  display: inline-block;
}
.ss-hero-card  .icon-wrap {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 12px;
}
.ss-hero-card  .icon-wrap img {
  width: 100%;
  height: auto;
}
.ss-hero-card  h2.heading {
  font-size: 1.6em;
}
.ss-hero-card .info-wrap .info-description p.text, .ss-hero-card .info-wrap .info-description dl.data-list {
  margin: 0 0 15px;
}
.ss-hero-card .info-wrap .info-description dl.data-list:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-hero-card .info-wrap .info-description dl.data-list dt {
  float: left;
}
.ss-hero-card .info-wrap .info-description dl.data-list dt:after {
  content: "\00a0";
}
.ss-hero-card .info-wrap .info-description dl.data-list dd a {
  color: inherit;
  text-decoration: none;
}
.ss-hero-card .info-wrap .info-description dl.data-list dd a:hover {
  text-decoration: underline;
}
.ss-hero-card .info-wrap .info-buttons:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-hero-card .info-wrap .info-buttons a {
  display: block;
  float: left;
  width: 48%;
  color: white;
  padding: 8px 0;
  font-size: .9em;
  text-align: center;
  line-height: 24px;
  margin-right: 4%;
  text-decoration: none;
  background-color: #c00;
  transition: .2s all;
  border-radius: 99px;
}
.ss-hero-card .info-wrap .info-buttons a:hover {
  background-color: #b00;
}
.ss-hero-card .info-wrap .info-buttons a:nth-child(2) {
  margin-right: 0;
}
.ss-text-section {
  /* Section - Text */
}
.ss-text-section p.text {
  margin: 0 0 15px;
  color: #5a5a5a;
}
.ss-text-section p.text:last-child {
  margin: 0;
}
.ss-text-section .img-wrap {
  overflow: hidden;
  padding: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
.ss-text-section .img-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-text-section .img-wrap .img-description {
  font-size: .9em;
  margin: 8px -8px -8px;
  padding: 4px 8px;
  text-align: center;
  background-color: #d8d8d8;
}
.ss-text-section .img-wrap .img-description p.text {
  margin: 0 0 4px;
}
.ss-text-section .img-wrap .img-description p.text:last-child {
  margin: 0;
}
.ss-text-section .img-wrap.float-left, .ss-text-section .img-wrap.float-right {
  max-width: 240px;
}
.ss-text-section .img-wrap.float-left {
  float: left;
  margin: 0 30px 15px 0;
}
.ss-text-section .img-wrap.float-right {
  float: right;
  margin: 0 0 15px 30px;
}
.ss-featured-dl {
  /* Section - Featured Data List */
}
.ss-featured-dl dl {
  font-weight: bold;
  line-height: 24px;
}
.ss-featured-dl dl:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-featured-dl dl dt, .ss-featured-dl dl dd {
  padding: 10px 0;
}
.ss-featured-dl dl dt {
  float: left;
  clear: left;
  width: 34.666%;
}
.ss-featured-dl dl dt:after {
  content: "\003a";
}
.ss-featured-dl dl dd {
  border-bottom: 1px solid #d8d8d8;
}
.ss-featured-dl dl dd a {
  color: #c00;
  text-decoration: none;
}
.ss-featured-dl dl dd a:hover {
  color: #b00;
  text-decoration: underline;
}
.ss-tabbed-section {
  /* Section - Tabbed */
}
.ss-tabbed-section .tabs-ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-scrolling: touch;
  white-space: nowrap;
}
.ss-tabbed-section .tabs-ul ul li {
  display: inline;
}
.ss-tabbed-section .tabs-ul ul a {
  display: inline-block;
  vertical-align: top;
  padding: 8px 15px 6px;
  line-height: 32px;
  text-align: center;
  min-width: 80px;
  margin-right: 1px;
  color: #5a5a5a;
  background-color: #f8f8f8;
  transition: .2s all;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ss-tabbed-section .tabs-ul ul a:hover {
  background-color: #d8d8d8;
}
.ss-tabbed-section .tabs-ul ul a.active {
  color: white;
  background-color: #c00;
}
.ss-tabbed-section .tabs-ul ul a.active:hover {
  background-color: #b00;
}
.ss-tabbed-section .tabs-content-wrap > div {
  display: none;
  padding: 15px;
  position: relative;
  z-index: 100;
  border: 1px solid #d8d8d8;
  border-top: 2px solid transparent;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}
.ss-tabbed-section .tabs-content-wrap > div:before {
  content: " ";
  position: absolute;
  z-index: 100;
  top: -2px;
  left: -1px;
  right: -1px;
  background-color: #c00;
  height: 2px;
}
.ss-tabbed-section .tabs-content-wrap > div .ss-listing {
  margin: -15px;
}
.ss-tabbed-section .tabs-content-wrap > div .ss-listing .item {
  padding: 15px !important;
  margin: 0;
}
.ss-tabbed-section .tabs-content-wrap > div.active {
  display: block;
}
.ss-grid-feed {
  /* Grid Feed */
}
.ss-grid-feed .item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin: 15px;
}
.ss-grid-feed .item .img-wrap {
  margin: 0 0 8px;
  border-radius: 100%;
  overflow: hidden;
}
.ss-grid-feed .item img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-grid-feed .item h3.heading {
  height: 2.6em;
  line-height: 2.6em;
  overflow: hidden;
}
.ss-grid-feed .item h3.heading a {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3em;
  font-weight: bold;
  color: #1a1a1a;
  text-decoration: none;
}
.ss-grid-feed .item h3.heading a:hover {
  text-decoration: underline;
}
.ss-listing {
  /* Listing */
}
.ss-listing .item {
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #d8d8d8;
}
.ss-listing .item:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-listing .item .img-wrap {
  margin-left: 30px;
  max-width: 25%;
  float: right;
}
.ss-listing .item .img-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-listing .item h3.heading {
  margin: 0 0 4px;
  font-size: 1.4em;
}
.ss-listing .item h3.heading a {
  text-decoration: none;
  color: inherit;
}
.ss-listing .item h3.heading a:hover {
  text-decoration: underline;
}
.ss-listing .item p.item-info {
  margin: 0 0 2px;
  color: #5a5a5a;
}
.ss-listing .item p.item-info:last-of-type {
  margin: 0 !important;
}
.ss-listing .item p.item-info.date:before {
  content: "Date\003a\ ";
}
.ss-listing .item p.item-info.venue:before {
  content: "Venue\003a\ ";
}
.ss-listing .item p.item-info.price:before {
  content: "Price\003a\ ";
}
.ss-listing .item div.description {
  padding-top: 4px;
  columns: 1 0;
  -moz-columns: 1 0;
  -webkit-columns: 1 0;
}
.ss-listing .item div.description a {
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}
.ss-listing .item div.description a:hover {
  color: #b00;
  text-decoration: underline;
}
.ss-listing .item.last {
  border: 0;
  padding: 0;
  margin: 0;
}
.ss-listing .list-button {
  border-top: 1px solid #d8d8d8;
  text-align: center;
  padding: 15px;
}
.ss-listing .list-button a {
  text-decoration: none;
  color: #c00;
  font-weight: bold;
}
.ss-listing .list-button a:after {
  content: "\ \00bb";
}
.ss-listing .list-button a:hover {
  color: #b00;
  text-decoration: underline;
}
.ss-listing .selected-filters {
  padding: 0 0 10px;
  margin: 0 0 10px;
  line-height: 24px;
  border-bottom: 1px solid #d8d8d8;
}
.ss-listing .selected-filters p.label {
  font-weight: bold;
  color: #1a1a1a !important;
  margin: 0 0 5px;
}
.ss-listing .selected-filters ul, .ss-listing .selected-filters li {
  display: inline;
}
.ss-listing .selected-filters li a {
  color: white;
  background-color: #c00;
  display: inline-block;
  font-size: .9em;
  padding: 6px 12px 6px 26px;
  border-radius: 5px;
  margin-right: 5px;
  transition: .2s all;
  text-decoration: none;
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-close.svg");
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.ss-listing .selected-filters li a:hover {
  background-color: #b00;
}
.ss-listing .selected-filters li.last a {
  margin-right: 0;
}
.ss-listing.with-icons .item {
  /* Listing - With Icons */
}
.ss-listing.with-icons .item p.item-info:before {
  content: " " !important;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-2px);
}
.ss-listing.with-icons .item p.item-info.date:before {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-cal.svg");
}
.ss-listing.with-icons .item p.item-info.venue:before {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-location.svg");
}
.ss-listing.with-icons .item p.item-info.price:before {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-price.svg");
}
.ss-filtered-listing {
  /* Section - Filtered Listing */
}
.ss-filtered-listing .filters {
  margin: 0 0 30px;
}
.ss-filtered-listing .filters > div {
  padding: 0 0 10px;
  margin: 0 0 10px;
  line-height: 24px;
  border-bottom: 1px solid #d8d8d8;
}
.ss-filtered-listing .filters > div ul, .ss-filtered-listing .filters > div ol, .ss-filtered-listing .filters > div li {
  display: inline;
}
.ss-filtered-listing .filters > div li > a {
  display: inline-block;
  color: #1a1a1a;
  text-decoration: none;
}
.ss-filtered-listing .filters > div li > a span {
  font-weight: bold;
}
.ss-filtered-listing .filters > div li > a:hover {
  text-decoration: underline;
}
.ss-filtered-listing .filters > div li > a[data-filters]:after {
  font-weight: bold;
  content: " (" attr(data-filters) ")";
}
.ss-filtered-listing .filters > div li:last-child {
  margin: 0;
}
.ss-filtered-listing .filters > div li.active > a {
  color: #c00;
  font-weight: bold;
}
.ss-filtered-listing .filters > div li.empty > a {
  color: #5a5a5a;
}
.ss-filtered-listing .filters .tool-bar {
  text-align: right;
}
.ss-filtered-listing .filters .tool-bar:after {
  content: " ";
  display: block;
  clear: both;
}
.ss-filtered-listing .filters .tool-bar ul:first-child {
  margin-right: 15px;
  float: left;
}
.ss-filtered-listing .filters .tool-bar li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px solid #d8d8d8;
  padding-right: 15px;
}
.ss-filtered-listing .filters .tool-bar li.last {
  margin: 0;
  border: none;
  padding: 0;
}
.ss-filtered-listing .filters .a-to-z ol {
  display: flex;
  justify-content: space-between;
}
.ss-filtered-listing .ss-listing-filters {
  padding: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.ss-filtered-listing .ss-listing-filters .fm-field, .ss-filtered-listing .ss-listing-filters .fm-footer {
  margin: 0 0 15px;
}
.ss-filtered-listing .ss-listing-filters .fm-field > label, .ss-filtered-listing .ss-listing-filters .fm-field > p.label, .ss-filtered-listing .ss-listing-filters .fm-footer > label, .ss-filtered-listing .ss-listing-filters .fm-footer > p.label {
  margin: 0 0 5px;
}
.ss-filtered-listing .ss-listing-filters .fm-field:last-child, .ss-filtered-listing .ss-listing-filters .fm-footer:last-child {
  margin: 0;
}
.ss-filtered-listing .ss-listing-filters .fm-field .form-wrap, .ss-filtered-listing .ss-listing-filters .fm-footer .form-wrap {
  position: relative;
  z-index: 100;
}
.ss-filtered-listing .ss-listing-filters .fm-field input.search-box, .ss-filtered-listing .ss-listing-filters .fm-field button.search-button, .ss-filtered-listing .ss-listing-filters .fm-footer input.search-box, .ss-filtered-listing .ss-listing-filters .fm-footer button.search-button {
  display: block;
  border: 0;
  height: 48px;
}
.ss-filtered-listing .ss-listing-filters .fm-field input.search-box, .ss-filtered-listing .ss-listing-filters .fm-footer input.search-box {
  width: 100%;
  font-family: inherit;
  border-radius: 5px;
  padding: 0 48px 0 12px;
  font-size: 1em;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.ss-filtered-listing .ss-listing-filters .fm-field input.search-box::placeholder, .ss-filtered-listing .ss-listing-filters .fm-footer input.search-box::placeholder {
  color: #5a5a5a;
  font-style: italic;
}
.ss-filtered-listing .ss-listing-filters .fm-field button.search-button, .ss-filtered-listing .ss-listing-filters .fm-footer button.search-button {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 48px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-search.svg");
  background-size: 24px 24px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.ss-filtered-listing .ss-listing-filters .fm-field > label, .ss-filtered-listing .ss-listing-filters .fm-field > p.label, .ss-filtered-listing .ss-listing-filters .fm-expand-head > label, .ss-filtered-listing .ss-listing-filters .fm-expand-head > p.label {
  display: block;
  font-weight: bold;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-head {
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #d8d8d8;
  padding: 8px 0;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-head:before, .ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-head:after {
  content: " ";
  width: 10px;
  height: 2px;
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  border-radius: 1px;
  transition: .2s transform;
  background-color: #c00;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-head:before {
  transform: translateY(-50%) translateY(-3px) rotate(-45deg);
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-head:after {
  transform: translateY(-50%) translateY(3px) rotate(45deg);
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content {
  display: none;
  overflow: auto;
  font-size: .9em;
  padding: 8px 0 0;
  max-height: 250px;
  color: #5a5a5a;
  overflow-scrolling: touch;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content .fm-item {
  position: relative;
  z-index: 100;
  padding: 2px 0 2px 18px;
  line-height: 1.3;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content .fm-item input[type-checkbox], .ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content .fm-item label {
  cursor: pointer;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content input[type=checkbox] {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 0 3px;
  overflow: hidden;
  text-align: center;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item label {
  display: block;
  min-width: 44px;
  padding: 44px 4px 2px;
  transition: .2s all;
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: auto 28px;
  border-radius: 5px;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item label[for=fm-checkbox-male] {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-male.svg");
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item label[for=fm-checkbox-female] {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-female.svg");
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item label[for=fm-checkbox-other] {
  background-image: url("http://cuttlefish.com/static/sportsuite/icon-other.svg");
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item input[type=checkbox] {
  z-index: -9999;
  top: -9999px;
  left: -9999px;
  transform: none;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand .fm-expand-content.fm-icon-grid .fm-item input[type=checkbox]:checked + label {
  background-color: #d8d8d8;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand + .fm-field-expand {
  margin-top: -15px;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand.expanded .fm-expand-head:before, .ss-filtered-listing .ss-listing-filters .fm-field-expand:hover .fm-expand-head:before {
  transform: translateY(-50%) translateX(3px) rotate(-45deg);
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand.expanded .fm-expand-head:after, .ss-filtered-listing .ss-listing-filters .fm-field-expand:hover .fm-expand-head:after {
  transform: translateY(-50%) translateX(-3px) rotate(45deg);
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand.expanded .fm-expand-content, .ss-filtered-listing .ss-listing-filters .fm-field-expand:hover .fm-expand-content {
  display: block;
}
.ss-filtered-listing .ss-listing-filters .fm-field-expand.expanded + .fm-field-expand, .ss-filtered-listing .ss-listing-filters .fm-field-expand:hover + .fm-field-expand {
  margin-top: 0;
}
.ss-filtered-listing .ss-listing-filters .fm-footer button.button {
  margin: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 12px 24px;
  color: white;
  border: none;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
  background-color: #c00;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .2s all;
}
.ss-filtered-listing .ss-listing-filters .fm-footer button.button:hover {
  background-color: #b00;
}
.ss-filtered-listing .ss-listing-filters + .ss-listing {
  margin: 0;
}
.ss-featured-grid {
  /* Section - Featured Grid */
}
.ss-featured-grid :after {
  content: " ";
  display: block;
  clear: both;
}
.ss-featured-grid  > div {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}
.ss-featured-grid  > div .image-wrap {
  width: 1200px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.ss-featured-grid  > div .image-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ss-featured-grid  > div .info-wrap {
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 200;
  border-radius: 5px;
}
.ss-featured-grid  > div .info-wrap .label {
  color: #cdcdcd;
}
.ss-featured-grid  > div  {
  white-space: nowrap;
}
.ss-featured-grid  > div  .icons-wrap, .ss-featured-grid  > div  h2.heading {
  vertical-align: middle;
  display: inline-block;
}
.ss-featured-grid  > div  .icons-wrap {
}
.ss-featured-grid  > div  .icons-wrap .sport-img, .ss-featured-grid  > div  .icons-wrap .plus-more-imgs {
  position: relative;
  z-index: 100;
}
.ss-featured-grid  > div  .icons-wrap .sport-img:not(:first-child), .ss-featured-grid  > div  .icons-wrap .plus-more-imgs {
  margin-left: -46px;
}
.ss-featured-grid  > div  .icons-wrap .sport-img {
  display: inline-block;
  transition: .2s all;
}
.ss-featured-grid  > div  .icons-wrap .sport-img p.sport-name {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  top: -47px;
  left: 50%;
  padding: 0 8px;
  font-size: .9em;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 32px;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: .2s all;
  opacity: 0;
}
.ss-featured-grid  > div  .icons-wrap .sport-img:hover {
  transform: translateY(-10px);
}
.ss-featured-grid  > div  .icons-wrap .sport-img:hover p.sport-name {
  opacity: 1;
}
.ss-featured-grid  > div  .icons-wrap img, .ss-featured-grid  > div  .icons-wrap .plus-more-imgs {
  vertical-align: top;
  width: 48px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  transition: .2s all;
}
.ss-featured-grid  > div  .icons-wrap img {
  height: auto;
}
.ss-featured-grid  > div  .icons-wrap .plus-more-imgs {
  display: inline-block;
  font-weight: bold;
  font-size: 1.4em;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #c00;
}
.ss-featured-grid  > div  h2.heading {
  transition: .2s all;
  font-size: 1.4em;
}
.ss-featured-grid  > div :hover .sport-img:not(:first-child), .ss-featured-grid  > div :hover .plus-more-imgs {
  margin-left: -23px;
}
.ss-featured-grid  > div :hover h2.heading {
  opacity: 0;
}
.ss-featured-grid  > div .info-wrap div.info-description a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.ss-featured-grid  > div .info-wrap div.info-description a:hover {
  text-decoration: underline;
}
.ss-featured-grid  .item-1 {
  width: 60.333%;
  margin-right: 4%;
  padding-top: 297px;
}
.ss-featured-grid  .item-1  {
  margin: 0 0 15px;
}
.ss-featured-grid  .item-1  .icons-wrap {
  height: 64px;
}
.ss-featured-grid  .item-1  .icons-wrap .sport-img:not(:first-child), .ss-featured-grid  .item-1  .icons-wrap .plus-more-imgs {
  margin-left: -60px;
}
.ss-featured-grid  .item-1  .icons-wrap img, .ss-featured-grid  .item-1  .icons-wrap .plus-more-imgs {
  width: 64px;
}
.ss-featured-grid  .item-1  .icons-wrap .plus-more-imgs {
  height: 64px;
  font-size: 1.8em;
  line-height: 64px;
}
.ss-featured-grid  .item-1 :hover .sport-img:not(:first-child), .ss-featured-grid  .item-1 :hover .plus-more-imgs {
  margin-left: -30px;
}
.ss-featured-grid  .item-1  h2.heading {
  font-size: 1.6em;
}
.ss-featured-grid  .item-2 {
  margin-bottom: 4%;
}
.ss-featured-grid  .item:first-child:last-child {
  float: none;
  margin: 0;
  width:150px;
  height: 70px;
}

@media (max-width: 1023px) {
   .call-to-action a.cta-button, .ss-columns >  .call-to-action a.cta-button {
    padding: 8px 24px !important;
    font-size: 1.2em !important;
  }
   .call-to-action p.cta-terms, .ss-columns >  .call-to-action p.cta-terms {
    margin-top: 8px !important;
  }
  .ss-hero-card {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
  }
  .ss-hero-card .image-wrap {
    position: static !important;
    transform: none !important;
  }
  .ss-hero-card .image-wrap .image-banner {
    position: relative !important;
    top: auto !important;
    overflow: hidden;
    height: 180px;
  }
  .ss-hero-card .image-wrap .image-banner img {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
  .ss-hero-card .image-wrap .image-logo {
    width: auto;
    margin: 0;
    padding: 30px 0;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .ss-hero-card .image-wrap .image-logo img {
    display: block;
    width: 240px;
    margin: 0 auto;
  }
  .ss-hero-card .info-wrap {
    margin: 0;
    border-radius: 0;
    color: #1a1a1a;
    max-width: none;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d8d8d8;
    border-top: none;
  }
  .ss-hero-card .info-wrap .label {
    color: #5a5a5a;
  }
  .ss-hero-card  {
    overflow: visible;
  }
  .ss-hero-card  .icon-wrap {
    width: 90px;
    height: 90px;
    margin-top: -47px;
    border: 4px solid white;
  }
  .ss-hero-card  h2.heading {
    font-weight: bold;
  }
  .ss-hero-card  h2.heading:nth-child(2) {
    margin-top: -15px;
  }
  .ss-grid-feed {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .ss-contacts-widget .items .item {
    width: 180px;
  }
  .ss-contacts-widget .items .item h3.heading {
    font-size: 1.2em;
  }
  .ss-featured-grid  .item {
    float: none !important;
    border-radius: 5px !important;
  }
  .ss-featured-grid  .item:last-child {
    margin: 0 !important;
  }
  .ss-featured-grid  .item-1 {
    padding-top: 180px !important;
  }
}
@media (max-width: 767px) {
   .call-to-action a.cta-button, .ss-columns >  .call-to-action a.cta-button {
    padding: 4px 15px !important;
    font-size: .9em !important;
  }
}
@media (max-width: 666px) {
  .ss-contacts-widget .items .item {
    padding: 15px;
    width: auto;
    display: block;
    margin: 0 0 15px;
  }
  .ss-contacts-widget .items .item .img-wrap {
    margin: 0 15px 0 0;
    max-width: 20%;
    float: left;
  }
  .ss-contacts-widget .items .item dl.data-list {
    columns: 1 0;
    -moz-columns: 1 0;
    -webkit-columns: 1 0;
  }
  .ss-text-section .img-wrap {
    float: none !important;
    max-width: 80% !important;
    margin: 30px auto !important;
  }
  .ss-featured-dl dl {
    text-align: center;
  }
  .ss-featured-dl dl dt {
    float: none;
    clear: none;
    width: auto;
    padding-bottom: 0;
  }
  .ss-featured-dl dl dd {
    padding-top: 0;
  }

  .ss-filtered-listing .filters {
    text-align: center;
  }
  .ss-filtered-listing .filters .a-to-z ol {
    display: inline;
  }
  .ss-filtered-listing .filters .a-to-z li > a {
    padding: 0 2px;
  }
}
